
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ebay US Scraper</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="content/style.css">
    <script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  </head>
  <body>
    <button onclick="topFunction()" id="top" title="Go to top">Top</button>
    <div id="app">
      <form @submit.prevent="searchSeller" class="form-inline">
        <div id="search">
          <input v-model="seller" class="form-control mr-sm-2" type="text" name="seller" placeholder="Enter Seller Name" required>
          <button class="btn btn-primary my-2 my-sm-0" type="submit" name="submit">Search</button>
        </div>

        <div id="snackbar">{{alertMessage}}</div>
        <img v-if="itemLoad" id="itemLoad" src="content/gif.gif">

        <div id="copy" style="display: flex">
          <div class="input" style="width: 80px">
            <input v-model="minSold" class="form-control mr-sm-2" id="min" type="text" placeholder="Sold">
            <input v-model="minPrice" class="form-control mr-sm-2" id="min" type="text" placeholder="Price">
          </div>
          <button style="margin-left: 3%" v-on:click="copyLinks" class="btn btn-outline-info"name="copy">Copy</button>
          <button style="margin-left: 3%; width: 140px" v-on:click="document.getElementById('myModal').style.display = 'block'" type="button" class="btn btn-outline-success">Get Sellers</button>
          <div id="variation" style="margin-top: 4%; margin-left: 3%">
            <label><input v-on:click="Variation" type="checkbox" v-model="variation" style="margin-right: 7px">variation</label>
          </div>
        </div>

      </form>

      <div id="myModal" class="modal">

        <div class="modal-content clearfix">
          <span v-on:click="document.getElementById('myModal').style.display = 'none'" class="close">&times;</span>
          <img v-if="load" id="img2" src="content/gif.gif">
          <input v-model="itemTitle" class="modal-input form-control" type="text" placeholder="Title" id="inputDefault">
          <button v-on:click="getSellers" class="modal-but btn btn-primary btn-sm">Get Sellers</button>

          <div>
            <ul>
              <li v-for="seller in itemSellers" v-on:click="navigator.clipboard.writeText(seller.split('⭐️')[0].trim())">{{seller}}</li>
            </ul>
          </div>
        </div>

      </div>

      <table class="table sortable">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Title</th>
            <th scope="col" class="sorttable_numeric">Price</th>
            <th scope="col" class="sorttable_numeric">History</th>
            <th class="sorttable_nosort"><input class="mainbox" type="checkbox" v-on:click="checkAll" v-model="mainbox"></th>
          </tr>
          </thead>
        <tbody id="table">
          <tr v-for="ress in results" v-if="ress.sold >= minSold && ress.price >= minPrice && ress.variation == variation">
            <td><a :href="ress.link" target="_blank" v-on:click="onClick($event)">{{ress.title}}</a></td>
            <td>{{ress.price}}</td>
            <td>{{ress.sold}}</td>
            <td><input class="box" type="checkbox" :value="ress.link" v-model="checkedValues"></td>
          </tr>
        </tbody>
      </table>
      <img id="img1" v-if="loading" src="content/big-gif.gif">
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
  	//change
    const API_URL = 'http://localhost:3000/';

    const app = new Vue({
      el: '#app',
      data: {
        seller: '',
        itemLoad: false,
        loading: false,
        load: false,
        results:[],
        checkedValues:[],
        minSold: 3,
        itemTitle: '',
        itemSellers: [],
        disp: '',
        mainbox: false,
        alertMessage: '',
        variation: false,
        minPrice: 0
      },
      methods: {
        onClick($event){
          event.target.style.color = '#88b0ef';
        },
        searchSeller(seller){
          if (document.querySelector("#sorttable_sortfwdind")) {
            document.querySelector("#sorttable_sortfwdind").remove();
            document.querySelectorAll("th.sorttable_numeric")[1].classList.remove('sorttable_sorted', 'sorttable_sorted_reverse');
          }else if (document.querySelector("#sorttable_sortrevind")) {
            document.querySelector("#sorttable_sortrevind").remove();
            document.querySelectorAll("th.sorttable_numeric")[1].classList.remove('sorttable_sorted', 'sorttable_sorted_reverse');
          }

          this.results = [];
          this.loading = true;

          fetch(`${API_URL}search/${this.seller.trim()}`, {headers: { 'access-control-allow-origin': '*'}})
            .then(response => response.json())
            .then(async json => {
              this.loading = false;

              if (json.length != 0) {
                document.querySelector("#snackbar").style.backgroundColor = '#77c962';
                this.alertMessage = 'items found = ' + json.length;
                document.querySelector("#snackbar").className = "show";
                setTimeout(() => { 
                  document.querySelector("#snackbar").className = document.querySelector("#snackbar").className.replace("show", ""); 
                }, 3000);
                
              } else if (json.length == 0) {
                document.querySelector("#snackbar").style.backgroundColor = '#ff5959';
                this.alertMessage = 'items or seller not found';
                document.querySelector("#snackbar").className = "show";
                setTimeout(() => { 
                  document.querySelector("#snackbar").className = document.querySelector("#snackbar").className.replace("show", ""); 
                }, 3000);
              }
              
              this.itemLoad = true;
              
              for (let i = 0; i < json.length; i++) {
                try {
                  let response = await fetch(`${API_URL}item/${json[i].itemID}`);
                  let result = await response.json();
                  this.results.push(result);
                } catch(err) {
                  console.log(err);
                }
              }

              this.itemLoad = false;
            });

        },
        copyLinks(){
          event.preventDefault();
          navigator.clipboard.writeText(this.checkedValues.join('\n'));
        },
        getSellers(){
          if (this.itemTitle === "") {
            document.querySelector("#inputDefault").classList.add("is-invalid");
          } else {
            document.querySelector("#inputDefault").classList.remove("is-invalid");
            this.itemSellers = [];
            this.load = true;
            fetch(`${API_URL}sellers/`, {
              method: 'post',
              body: JSON.stringify({"title": this.itemTitle.trim()}),
              headers: { 'Content-type': 'application/json', 'access-control-allow-origin': '*'}
            })
            .then(response => response.json())
            .then(json => {
              this.load = false;
              json.forEach((seller) => {
                if (!this.itemSellers.includes(seller)) {
                  this.itemSellers.push(seller);
                };
              });
            })
            .catch((err) => {
              this.load = false;
              console.log(err);
            })
          }
        },
        checkAll(){
          if (!this.mainbox) {
            const aa= document.getElementsByClassName("box");
            for (let i=0; i < aa.length; i++){
              aa[i].checked = true;
              this.checkedValues.push(aa[i].value);
            }
          } else {
            this.checkedValues = [];
            const aa= document.getElementsByClassName("box");
            for (let i=0; i < aa.length; i++){
              aa[i].checked = false;
            }
          }
        },
        Variation(){
          if (document.querySelector("#sorttable_sortfwdind")) {
            document.querySelector("#sorttable_sortfwdind").remove();
            document.querySelectorAll("th.sorttable_numeric")[1].classList.remove('sorttable_sorted', 'sorttable_sorted_reverse');
          }else if (document.querySelector("#sorttable_sortrevind")) {
            document.querySelector("#sorttable_sortrevind").remove();
            document.querySelectorAll("th.sorttable_numeric")[1].classList.remove('sorttable_sorted', 'sorttable_sorted_reverse');
          }
        },
      }
    });

    //-------------------------
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 140 || document.documentElement.scrollTop > 140) {
        document.getElementById("top").style.display = "block";
      } else {
        document.getElementById("top").style.display = "none";
      }
    }

    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
</html>
